name: Deploy to AWS

on:
  push:
    branches: [feature-31/create-deploy-scripts]
  # pull_request:
  #   types: [closed]
  #   branches: [main]

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Git clone the repository
        uses: actions/checkout@v5

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.13.5
          terraform_wrapper: false

      - name: Terraform Init
        working-directory: deploy/terraform
        id: init
        run: terraform init

      - name: Terraform Validate
        working-directory: deploy/terraform
        id: validate
        run: terraform validate

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@main
        with:
          role-to-assume: arn:aws:iam::422297141788:role/CarnotGithubRole
          aws-region: us-east-1

      - name: Copy Terraform State File
        working-directory: deploy/terraform
        run: |
          aws s3 cp s3://carnot-research/tf/terraform.tfstate . || echo "No existing state file found."

      - name: Terraform Apply (Setup Infrastructure)
        working-directory: deploy/terraform
        id: apply
        run: |
          terraform apply -auto-approve

      - name: Upload Terraform State File Even On Failure
        if: always()
        working-directory: deploy/terraform
        run: |
          echo "Uploading terraform.tfstate to S3"
          aws s3 cp terraform.tfstate s3://carnot-research/tf/terraform.tfstate

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Docker Images to Docker Hub
        # working-directory: deploy/compose
        run: |
          # Copy relevant source files to build context
          cp -r app/frontend deploy/compose/frontend
          cp -r app/backend deploy/compose/backend
          cp -r src deploy/compose/src
          cp pyproject.toml deploy/compose/pyproject.toml
          cp README.md deploy/compose/README.md

          # navigate to build context
          cd deploy/compose

          # Build frontend image
          docker build -f Dockerfile-frontend -t ${{ vars.DOCKERHUB_USERNAME }}/carnot:frontend .

          # Build backend image
          docker build -f Dockerfile-backend -t ${{ vars.DOCKERHUB_USERNAME }}/carnot:backend .

          # Push both images
          docker push ${{ vars.DOCKERHUB_USERNAME }}/carnot:frontend
          docker push ${{ vars.DOCKERHUB_USERNAME }}/carnot:backend

      - name: Deploy Application to EC2 Instance
        env:
          CARNOT_DB_PASSWORD: ${{ secrets.CARNOT_DB_PASSWORD }}
          CARNOT_DB_USER: ${{ secrets.CARNOT_DB_USER }}
          CARNOT_DB_NAME: ${{ secrets.CARNOT_DB_NAME }}
          CARNOT_DEPLOY_KEY: ${{ secrets.CARNOT_DEPLOY_KEY }}
        run: |
          ec2_public_ip=$(terraform -chdir=deploy/terraform output -raw ec2_public_ip)
          echo "Deploying to EC2 Instance at $ec2_public_ip"

          # Prepare deploy directory
          mkdir -p deploy/compose/secrets
          echo "$CARNOT_DB_PASSWORD" > deploy/compose/secrets/db_password.txt
          echo "$CARNOT_DB_USER" > deploy/compose/secrets/db_user.txt
          echo "$CARNOT_DB_NAME" > deploy/compose/secrets/db_name.txt
          chmod 600 deploy/compose/secrets/db_*.txt

          # Copy compose bundle to EC2
          echo "$CARNOT_DEPLOY_KEY" > deploy/terraform/deployer_key.pem
          chmod 400 deploy/terraform/deployer_key.pem
          scp -r -o StrictHostKeyChecking=no -i deploy/terraform/deployer_key.pem deploy/compose ubuntu@$ec2_public_ip:~/compose

          # Login & deploy using pulled images
          ssh -o StrictHostKeyChecking=no -i deploy/terraform/deployer_key.pem ubuntu@$ec2_public_ip "
            cd compose
            docker login -u '${{ vars.DOCKERHUB_USERNAME }}' -p '${{ secrets.DOCKERHUB_TOKEN }}'
            docker compose pull
            docker compose up -d
          "
