name: Deploy to AWS

on:
  push:
    branches: [feature-31/create-deploy-scripts]
  # pull_request:
  #   types: [closed]
  #   branches: [main]

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Git clone the repository
        uses: actions/checkout@v5

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.13.5

      - name: Terraform Init
        working-directory: deploy/terraform
        id: init
        run: terraform init

      - name: Terraform Validate
        working-directory: deploy/terraform
        id: validate
        run: terraform validate

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@main
        with:
          role-to-assume: arn:aws:iam::422297141788:role/CarnotGithubRole
          aws-region: us-east-1

      - name: Copy Terraform State File
        working-directory: deploy/terraform
        run: |
          aws s3 cp s3://carnot-research/tf/terraform.tfstate . || echo "No existing state file found."

      # terraform import aws_lb.app_alb arn:aws:elasticloadbalancing:us-east-1:422297141788:loadbalancer/app/app-alb/67dd29ff9c3f620e
      - name: Terraform Apply (Setup Infrastructure)
        working-directory: deploy/terraform
        run: |
          terraform apply -auto-approve

      - name: Upload Terraform State File Even On Failure
        if: always()
        working-directory: deploy/terraform
        run: |
          echo "Uploading terraform.tfstate to S3"
          aws s3 cp terraform.tfstate s3://carnot-research/tf/terraform.tfstate

      - name: Deploy Application to EC2 Instance
        env:
          # EC2_PUBLIC_IP: ${{ steps.init.outputs.ec2_public_ip }}
          CARNOT_DB_PASSWORD: ${{ secrets.CARNOT_DB_PASSWORD }}
          CARNOT_DB_USER: ${{ secrets.CARNOT_DB_USER }}
          CARNOT_DB_NAME: ${{ secrets.CARNOT_DB_NAME }}
          CARNOT_DEPLOY_KEY: ${{ secrets.CARNOT_DEPLOY_KEY }}
        run: |
          cp -r app/backend deploy/compose/backend
          cp -r app/frontend deploy/compose/frontend
          cd deploy/compose
          mkdir secrets
          echo "$CARNOT_DB_PASSWORD" > secrets/db_password.txt
          echo "$CARNOT_DB_USER" > secrets/db_user.txt
          echo "$CARNOT_DB_NAME" > secrets/db_name.txt
          chmod 600 secrets/db_*.txt
          cd ../..
          ec2_public_ip=$(terraform -chdir=deploy/terraform output -raw ec2_public_ip)
          echo "$CARNOT_DEPLOY_KEY" > deploy/terraform/deployer_key.pem
          chmod 400 deploy/terraform/deployer_key.pem
          scp -r -o StrictHostKeyChecking=no -i deploy/terraform/deployer_key.pem deploy/compose ubuntu@$ec2_public_ip:~/
          # ssh -o StrictHostKeyChecking=no -i deploy/terraform/deployer_key.pem ubuntu@184.73.85.3 << "docker compose -f docker-compose.yml up -d --build"
