name: Deploy to AWS

on:
  push:
    branches: [feature-31/create-deploy-scripts]
  # pull_request:
  #   types: [closed]
  #   branches: [main]

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Git clone the repository
        uses: actions/checkout@v5

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.13.5

      - name: Terraform Init
        id: init
        run: cd deploy && terraform init

      - name: Terraform Validate
        id: validate
        run: cd deploy && terraform validate

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@main
        with:
          role-to-assume: arn:aws:iam::422297141788:role/CarnotGithubRole
          aws-region: us-east-1

      # TODO: remove import
      - name: Copy Terraform State File
        run: |
          aws s3 cp s3://carnot-research/tf/terraform.tfstate deploy/terraform.tfstate || echo "No existing state file found."
          cd deploy && terraform import aws_key_pair.deployer_key carnot-deployer-key

      - name: Terraform Apply
        run: |
          cd deploy
          terraform apply -auto-approve
          aws s3 cp terraform.tfstate s3://carnot-research/tf/terraform.tfstate
